  .demo{

        width: 50px;
        height: 50px;
        background-color: #888;
        position: relative;
        border-style: solid;
        border-width: 10px;
        margin: 15px 15px 15px 15px;
        
    } 
    div{
        float: left;
    }
    .row{
        width: 100%;
        margin: 2px;
       
    }
    .col{
        width: 7%;
        }
    .container{

        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -590px;
    }
    .active{
        background-color:#333;

    }
    .row.text-center > div{

        display: inline-block;
        float:none;
    }